html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}
header {
  background-color: #79756f;
}

h1 {
  font-family: "Bevan", cursive;
  font-size: 1.5rem;
  color: #fff;
  display: block;
  text-align: center;
  padding: .6em;
}

nav li {
  display: inline;
  list-style-type: none;
  padding: .5em .75em;
}

nav a {
  display: inline-block;
  color: #fff;
  background-color: #713837;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: #f33;
}
