html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  margin: 0;
  padding: .5em .75em;
}

h1 {
  display: block;
  font-family: Bevan, serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

nav {
  margin: auto;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: inline-block;
  margin: 0;
  padding: .5em .75em;
  border-radius: 4px;
  color: #fff;
  background-color: #713837;
  text-decoration: none;
}

nav a:hover {
  background-color: #f33;
}
